@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondaryText: #7c7c7c;
  --primary: #C084FC;
  --secondary: #D8B4FE;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-text: var(--secondaryText);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 3px;
    background-color: var(--secondary);
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--primary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  outline: none;
}